# TXT 파일 읽기

In [1]:
import pandas as pd
contents = pd.read_csv('exam.txt',header=0)
print(contents)
print(contents.columns)
contents.shape

  id class math english science
0                  1 1 50 98 50
1                  2 1 60 97 60
2                  3 1 45 86 78
3                  4 1 30 98 58
4                  5 2 25 80 65
Index(['id class math english science'], dtype='object')

(5, 1)

In [3]:
contents = pd.read_csv('exam.txt',header = 0, sep=' ')  #열 구분 가능
print(contents)
print(contents.columns)
contents.shape

   id  class  math  english  science
0   1      1    50       98       50
1   2      1    60       97       60
2   3      1    45       86       78
3   4      1    30       98       58
4   5      2    25       80       65
Index(['id', 'class', 'math', 'english', 'science'], dtype='object')

(5, 5)

In [4]:
type(contents)

pandas.core.frame.DataFrame

In [8]:
#header = 1로 읽을 때 -> 첫줄을 열 속성으로 인식
contents = pd.read_csv('exam.txt', header = 1, sep = ' ') 
print(contents)
print(contents.columns)

contents.shape

   1  1.1  50  98  50.1
0  2    1  60  97    60
1  3    1  45  86    78
2  4    1  30  98    58
3  5    2  25  80    65
Index(['1', '1.1', '50', '98', '50.1'], dtype='object')

(4, 5)

In [9]:
#header = none로 읽을 때 -> 첫줄부터 데이터로 인식
contents = pd.read_csv('exam.txt', header = None, sep = ' ')
print(contents)

contents.columns

    0      1     2        3        4
0  id  class  math  english  science
1   1      1    50       98       50
2   2      1    60       97       60
3   3      1    45       86       78
4   4      1    30       98       58
5   5      2    25       80       65

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [10]:
contents = pd.read_csv('Hshopping.txt',header = 0, sep = ' ')
print(contents)

    ID\t성별\t나이\t구매금액\t출연자\t반품여부
0             1\t1\t33\t2\t2\t0
1             2\t2\t21\t3\t2\t1
2             3\t1\t45\t1\t1\t0
3             4\t1\t50\t2\t1\t0
4             5\t1\t21\t3\t1\t1
..                          ...
495         496\t1\t38\t1\t1\t0
496         497\t1\t62\t1\t1\t0
497         498\t1\t38\t1\t1\t0
498         499\t1\t62\t1\t1\t0
499         500\t1\t62\t1\t1\t0

[500 rows x 1 columns]

In [11]:
contents = pd.read_csv('Hshopping.txt',header = 0, sep = '\s+') #공백 2개 이상으로 구분될 때
print(contents)

      ID  성별  나이  구매금액  출연자  반품여부
0      1   1  33     2    2     0
1      2   2  21     3    2     1
2      3   1  45     1    1     0
3      4   1  50     2    1     0
4      5   1  21     3    1     1
..   ...  ..  ..   ...  ...   ...
495  496   1  38     1    1     0
496  497   1  62     1    1     0
497  498   1  38     1    1     0
498  499   1  62     1    1     0
499  500   1  62     1    1     0

[500 rows x 6 columns]

# TXT 파일 쓰기

In [12]:
cars = {'make': ['Hyundai', 'Kai','Tesia','Toyota'],
       'model' : ['Santafe','K9','Y','Avalon'],
       'price' : ['1000','900','2000','2500']}

df = pd.DataFrame(cars)
print(df)

      make    model price
0  Hyundai  Santafe  1000
1      Kai       K9   900
2    Tesia        Y  2000
3   Toyota   Avalon  2500

In [28]:
write_txt = df.to_csv('cars1.txt', sep = ' ')

In [15]:
write_txt = df.to_csv('cars1.txt', sep = ' ',index = False)

# Excel 파일 읽기

In [14]:
data = pd.read_excel('sample1.xlsx',header = 0)
df1 = pd.DataFrame(data)
print(df1['한국'])

0      22000
1      15000
2      16000
3      14000
4      13000
5      19000
6      12000
7      13000
8      10000
9      11000
10     12000
11     22000
12    179000
Name: 한국, dtype: int64

# Excel 파일 쓰기

In [16]:
df3 = pd.DataFrame(cars)
export_excel = df3.to_excel('test.xlsx', index = None, header = 1)

In [17]:
data1 = {'name' : ['Jerry','Riah','Paul'],
        'algol' : ['A','A+','B'],
        'basic' : ['C','B','B+'],
        'c++' : ['B+','C','C+']}

data2 = {'c0' : [1,2,3],
        'c1' : [4,5,6],
        'c2' : [7,8,9],
        'c3' : [10,11,12],
        'c4' : [13,14,15]}

df1 = pd.DataFrame(data1)
df1.set_index('name',inplace = True)

df2 = pd.DataFrame(data2)
df2.set_index('c0', inplace = True)

print(df1)
print('\n')
print(df2)

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+


    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15

In [18]:
writer = pd.ExcelWriter('test_excel.xlsx')
df1.to_excel(writer, sheet_name = '1번 시트')
df2.to_excel(writer, sheet_name = '2번 시트')
writer.save()

# Json 파일 읽기

In [19]:
import json
with open('test.json', 'r') as f:
    json_data = json.load(f)
    
print(type(json_data))
print(json_data)
print(json.dumps(json_data))

print(json.dumps(json_data, indent='\t'))

<class 'dict'>
{'K5': {'price': '5000', 'year': '2015'}, 'Avante': {'price': '3000', 'year': '2014'}}
{"K5": {"price": "5000", "year": "2015"}, "Avante": {"price": "3000", "year": "2014"}}
{
	"K5": {
		"price": "5000",
		"year": "2015"
	},
	"Avante": {
		"price": "3000",
		"year": "2014"
	}
}

In [20]:
df = pd.read_json('test.json')
print(df)
print('\n')
print(df.index)
print(df.columns)

         K5  Avante
price  5000    3000
year   2015    2014


Index(['price', 'year'], dtype='object')
Index(['K5', 'Avante'], dtype='object')

In [21]:
k5_price = json_data['K5']['price']
print(k5_price)

json_data['K5']['price'] = '7000'
print(json_data['K5']['price'])

5000
7000

# Json 파일 쓰기

In [22]:
with open('test.json','w',encoding='utf-8') as make_file:
    json.dump(json_data, make_file, indent='\t')

with open('test.json', 'r') as f:
    json_data = json.load(f)
print(json.dumps(json_data, indent ='\t'))

{
	"K5": {
		"price": "7000",
		"year": "2015"
	},
	"Avante": {
		"price": "3000",
		"year": "2014"
	}
}

In [24]:
car_group = dict()
k5 = dict()
k5['price'] = '5000'
k5['year'] = '2015'
car_group['k5'] = k5
avante = dict()
avante['price'] = '3000'
avante['year'] = '2014'
car_group['Avante'] = avante

In [25]:
k5

{'price': '5000', 'year': '2015'}

In [26]:
car_group

{'k5': {'price': '5000', 'year': '2015'},
 'Avante': {'price': '3000', 'year': '2014'}}